<div class="main-section">
    <div class="home-section">
    <h1 class="page-name">About the app</h1>
    <div>
            <h3><b>Technologies used:</b> </h3>
            <ul class="tesh-list">
                <li>Angular</li>
                <li>JSON Server</li>
                <li>HTML</li>
                <li>Regular CSS</li>
            </ul>
            <div>
                <p>
                    It is a simple app that displays certain car brands ads (Mercedes, BMW, Audi). A user can add or delete an add. Ads are stored on the JSON server.
                </p>
            </div>
    </div>
    <iframe src="https://giphy.com/embed/kiBcwEXegBTACmVOnE" width="384" height="480" frameBorder="0"  class="giphy-embed dog-gif"  allowFullScreen></iframe>
    </div>
</div>
